@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  &__item {
    @include padding(.75, 0);

    display: block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: $color-gray-border;

    &:last-child {
      @include margin-bottom(.5);
      border-bottom: none;
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(.5);

      &-link {
        color: $color-base;

        &:focus {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }

      }

    }

    &-description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(.75);
    }

    &-meta {
      display: flex;
      align-items: center;

      &-time {
        font-size: $typographic-small-font-size;
        color: $color-gray;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-readtime {
        font-size: $typographic-small-font-size;
        color: $color-gray;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        width: 4px;
        height: 4px;
        background-color: $color-primary;
        margin: .5rem;
        border-radius: 1rem;
      }
    }

  }

}
