---
layout: default
---
<div class="home">
  <div class="content-col-wrapper">
    <div class="content-col">
      <div class="dummy">
        <b><span class="big">Hello!</span></b> I'm Martijn, a Dutch Computer Science student who writes code and makes other stuff (take a look at the projects below!).
        <br>
        <br> ♨ <b><span class="big">Projects</span></b>
        <br>

        <div class="photos">
          <a href="https://libscode.com" class="p0 photo" target="_blank">
            <img alt="Kamu butuh Developer, UI/UX? Cuma LibsCode ahlinya." src="{{ site.baseurl }}/images/lc.jpg">
          </a>
          <a href="https://instagram.com/p/5UlHS9hvIC/" class="p1 photo" target="_blank">
            <img alt="Menjelang sore, hangatkan badan dulu" src="{{ site.baseurl }}/images/ig_1.jpg">
          </a>
          <a href="https://instagram.com/p/4_kouzhvE7/" class="p2 photo" target="_blank">
            <img alt="Saya potret di rumah kakek dan nenek saya." src="{{ site.baseurl }}/images/ig_2.jpg">
          </a>
          <a href="https://instagram.com/p/725NTkhvHz/" class="p3 photo" target="_blank">
            <img alt="Sebuah potret gambar di sekeliling saya." src="{{ site.baseurl }}/images/ig_3.jpg">
          </a>
          <a href="https://instagram.com/p/4_dhCahvL7/" class="p4 photo" target="_blank">
            <img alt="Daun tanaman yang cantik dan udara sejuk di pagi hari." src="{{ site.baseurl }}/images/ig_4.jpg">
          </a>
          <div class="caption c0">Kamu butuh <b>Developer</b>, <b>UI/UX</b>? Cuma <a href="https://libscode.com"><b>LibsCode</b></a> ahlinya.</div>
          <div class="caption c1">Menjelang sore, hangatkan badan dulu.</div>
          <div class="caption c2">Saya potret di rumah kakek dan nenek saya.</div>
          <div class="caption c3">Sebuah potret gambar di sekeliling saya.</div>
          <div class="caption c4">Daun tanaman yang cantik dan udara sejuk di pagi hari.</div>
        </div>
        <br>

        <div class="dummy blogpost">
          ✍ <b><span class="big">Blog</span></b>
        </div>
      </div>
      <p></p>
      <p></p>
      <ul class="post-list">{% for post in paginator.posts %}
        <li class="titlepost">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        <li class="datepost">
          <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
        </li>{% endfor %}
      </ul>
    </div>
  </div>{% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}">
    <b><span class="big">Balik Lagi</span></b>
  </a>{% else %}{% endif %}{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}">
    <b><span class="big">Lanjut</span></b>
  </a>{% else %}{% endif %}
  <nav class="site-nav">
    <div class="trigger">
      <a class="page-link" href="https://github.com/Martyn96" target="_blank">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a href="mailto:{{ site.email }}">
        <span class="icon">
          <i class="fa fa-envelope"></i>
        </span>
      </a>
    </div>
  </nav>
</div>
