/* Main */

* {
    margin: 0;
}

html, body {
    height: 100%;
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    font-family: 'Dosis', sans-serif;
    background: #191919;
    color: #ffffff;
}

a:link {
    color: #07b39b;
}

a:visited {
    color: #f79533;
}

a:hover {
    color: #5073b8;
}

a:active {
    color: #ef4e7b;
}

/* Container system */

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
    margin: 0.1em;
}

.item {
    margin: 3px 8px;
}

/* Social icons */

@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.woff2') format('woff2'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-size: 1.6em;
    padding: .2em;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
    content: '\f099';
    color: #f79533;
}

.icon-github:before {
    content: '\f09b';
    color: #ef4e7b;
}

.icon-linkedin:before {
    content: '\f0e1';
    color: #5073b8;
}

.icon-mail:before {
    content: '\e800';
    color: #07b39b;
}

#social > .item {
    text-align: center;
    background-color: #0e0e0e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #0e0e0e;
    border-radius: 8px;
    overflow: hidden;
    transition-duration: 0.4s;
    transition-property: border-color;
}
    /* Twitter */
    #social > .item:nth-of-type(1):hover {
        border-color: #f79533;
    }
    /* Github */
    #social > .item:nth-of-type(2):hover {
        border-color: #ef4e7b;
    }
    /* LinkedIn */
    #social > .item:nth-of-type(3):hover {
        border-color: #5073b8;
    }
    /* Mail */
    #social > .item:nth-of-type(4):hover {
        border-color: #07b39b;
    }

/* Content */

#picture img {
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 2px;
    border-radius: 75px;
    width: 150px;
    height: 150px;
}

#biography {
    max-width: 250px;
    text-shadow: 1px 1px 0 #000000;
}

/* Effects */

#particles, #vignette {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
    right: 0;
    z-index: -2;
}

#vignette {
    box-shadow: 0 0 800px rgba(0,0,0,0.9) inset;
    z-index: -1;
}

/* Responsiveness */

@media only screen and (max-width: 600px) {
    .container {
        flex-flow: column-reverse;
    }

    #picture {
        order: 1;
    }

    #social {
        display: flex;
        flex-direction: row;
    }

    #biography {
        text-align: center;
    }
}
